# Ignore node_modules directory
node_modules/            
# Other entries...   [node_modules/   => / => means node_modules folder ke andar jitne bhi files hai usko track karne ki koi jarurat nahi hai]